<div class="childContainer">
    <h1>Child</h1>
    <div class="workZone">
        <div class="childmessage">
            <p>message: {{message}}</p>      
        </div>        
        <div class="childButtons">           
            <button 
                    class="btn btn-primary m-1"
                    (click)="launchMessageService()"
                    >
                    Use Service
            </button>
            <button 
                    class="btn btn-primary m-1" 
                    (click)="launchMessage()"
                    >
                    Use Output Property
                </button>
                <button 
                class="btn btn-primary m-1"
                (click)="changeMessageObservable()"
                >
                Use Observable
        </button>
        </div>
    </div>
</div>
